ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    font-size: 14px;
}

a {
    text-decoration: none;
}

.bg {
    background: #990909;
}

.container {
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav {
    background: #000;
    width: 100%;
    & ul {
        display: flex;
        justify-content: space-around;
        padding: 25px 0px 4px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        & img {
            width: 150px;
            height: 120px;
        }
    }
    &__title {
        color: #fff;
    }
}

.main {
    display: flex;
    &__link {
        display: block;
        width: 200px;
        height: 300px;
        line-height: 50px;
        text-decoration: underline;
        background: #7d0909;
        color: #e95b0e;
    }
    &__text {
        width: 600px;
        color: #fff;
    }
    &__articles {
        display: flex;
        flex-direction: column;
        width: 150px;
        background: #e3dddd;
    }
    &__title {
        height: 20px;
        background: #bdbdbd;
        font-weight: 700;
        text-align: center;
    }
    &__article {
        margin-top: 40px;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            width: 75px;
            height: 1px;
            background: #9a9a9a;
            top: -17px;
            left: 38px;
        }
    }
}

.footer {
    margin-top: 20px;
    background: #e95b11;
    width: 100%;
    text-align: center;
    color: #fff;
}